
@model FPTBook.Models.Order
@{
    ViewBag.Title = "Order Success";
}

<h1 class="text-center" style="margin-top: 5%;text-align: center;font-size: 32px;">
    Order successful <br />
</h1>
<h5 style="text-align: center;">
    <b>
        Thank you for trusting and choosing us.
        Your order will be delivered as soon as possible.
    </b>
</h5>
<br />
<br />
@Html.ActionLink("Home Page", "Index", "Home", null, new { @class = "btn btn-primary" })
<br />
<br />
<h2 align="center"><b>Order Details</b></h2>
<div class="container-fluid">
    <ul class="list-group" style="margin-left: 5%;margin-right: 5%;border-radius: 23px;">
        <li class="list-group-item">
            <div>
                <label class="form-label" style="font-weight: bold;">@Html.DisplayNameFor(model => model.OrderID)</label>
            </div>
            <span style="font-size: 19px;">@Html.DisplayFor(model => model.OrderID)</span>
        </li>

        <li class="list-group-item">
            <div>
                <label class="form-label" style="font-weight: bold;">@Html.DisplayNameFor(model => model.Username)</label>
            </div>
            <span style="font-size: 19px;">@Html.DisplayFor(model => model.Username)</span>
        </li>

        <li class="list-group-item">
            <div>
                <label class="form-label" style="font-weight: bold;">@Html.DisplayNameFor(model => model.Telephone)</label>
            </div>
            <span style="font-size: 19px;">@Html.DisplayFor(model => model.Telephone)</span>
        </li>
        <li class="list-group-item">
            <div>
                <label class="form-label" style="font-weight: bold;">@Html.DisplayNameFor(model => model.Fullname)</label>
            </div>
            <span style="font-size: 19px;">@Html.DisplayFor(model => model.Fullname)</span>
        </li>
        <li class="list-group-item">
            <div>
                <label class="form-label" style="font-weight: bold;">@Html.DisplayNameFor(model => model.DeliveyAddress)</label>
            </div>
            <span style="font-size: 19px;">@Html.DisplayFor(model => model.DeliveyAddress)</span>
        </li>
        <li class="list-group-item">
            <div>
                <label class="form-label" style="font-weight: bold;">@Html.DisplayNameFor(model => model.OrderDate)</label>
            </div>
            <span style="font-size: 19px;">@Html.DisplayFor(model => model.OrderDate)</span>
        </li>
        <li class="list-group-item">
            <div>
                <label class="form-label" style="font-weight: bold;">@Html.DisplayNameFor(model => model.TotalPrice)</label>
            </div>
            <span style="font-size: 19px;">@Html.DisplayFor(model => model.TotalPrice)</span>
        </li>
        <li class="list-group-item">
            <div>
                <a class="btn btn-primary" role="button" href="#detail">Details</a>
                <a class="btn btn-primary" role="button" href="@Url.Action("Index", "Orders")">Back</a>
            </div>
        </li>
    </ul>
</div>

<div class="container-fluid" id="detail">
    <div class="card shadow">
        <div class="card-header py-3">
            <h2 align="center"><b>Book details of the order</b></h2>
            <hr />
        </div>
        <table id="tablecategory" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="text-align: center;">OrderID</th>
                    <th style="text-align: center;">Book Name</th>
                    <th style="text-align: center;">Image</th>
                    <th style="text-align: center;">Quantity</th>
                    <th style="text-align: center;">Price</th>
                    <th style="text-align: center;">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderDetails)
                {
                    <tr>
                        <td style="text-align: center;">@item.OrderID</td>
                        <td style="text-align: center;">@item.Book.BookName</td>
                        <td style="text-align: center"><img src="~/Image/@item.Book.Image" style="width: 70px;height: 80px;"></td>
                        <td style="text-align: center;">@item.Quantity</td>
                        <td style="text-align: center;">@item.Price</td>
                        <td style="text-align: center;">@item.Subtotal</td>
                    </tr>
                }
                <tr>
                    <td colspan="5" align="right">
                        <h3><b>TOTAL:</b></h3>
                    </td>
                    <td>
                        <h3 style="color:red"><b>$ @Html.DisplayFor(model => model.TotalPrice)</b></h3>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>