@model FPTBook.Models.Order

@{
    ViewBag.Title = "Order Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 align="center"><b>Order Details</b></h2>
<ul class="list-group" style="margin-left: 5%;margin-right: 5%;border-radius: 23px;">
    <li class="list-group-item">
        <div>
            <label class="form-label" style="font-weight: bold;">@Html.DisplayNameFor(model => model.OrderID)</label>
        </div>
        <span style="font-size: 19px;">@Html.DisplayFor(model => model.OrderID)</span>
    </li>

    <li class="list-group-item">
        <div>
            <label class="form-label" style="font-weight: bold;">@Html.DisplayNameFor(model => model.Username)</label>
        </div>
        <span style="font-size: 19px;">@Html.DisplayFor(model => model.Username)</span>
    </li>

    <li class="list-group-item">
        <div>
            <label class="form-label" style="font-weight: bold;">@Html.DisplayNameFor(model => model.Telephone)</label>
        </div>
        <span style="font-size: 19px;">@Html.DisplayFor(model => model.Telephone)</span>
    </li>
    <li class="list-group-item">
        <div>
            <label class="form-label" style="font-weight: bold;">@Html.DisplayNameFor(model => model.Fullname)</label>
        </div>
        <span style="font-size: 19px;">@Html.DisplayFor(model => model.Fullname)</span>
    </li>
    <li class="list-group-item">
        <div>
            <label class="form-label" style="font-weight: bold;">@Html.DisplayNameFor(model => model.DeliveyAddress)</label>
        </div>
        <span style="font-size: 19px;">@Html.DisplayFor(model => model.DeliveyAddress)</span>
    </li>
    <li class="list-group-item">
        <div>
            <label class="form-label" style="font-weight: bold;">@Html.DisplayNameFor(model => model.OrderDate)</label>
        </div>
        <span style="font-size: 19px;">@Html.DisplayFor(model => model.OrderDate)</span>
    </li>
    <li class="list-group-item">
        <div>
            <label class="form-label" style="font-weight: bold;">@Html.DisplayNameFor(model => model.TotalPrice)</label>
        </div>
        <span style="font-size: 19px;">@Html.DisplayFor(model => model.TotalPrice)</span>
    </li>
    <li class="list-group-item">
        <div>
            <label class="form-label" style="font-weight: bold;">@Html.DisplayNameFor(model => model.Payment.PaymentName)</label>
        </div>
        <span style="font-size: 19px;">@Html.DisplayFor(model => model.Payment.PaymentName)</span>
    </li>
    <li class="list-group-item">
        <div>
            <a class="btn btn-primary" role="button" href="@Url.Action("Index", "Orders")">Back</a>
        </div>
    </li>
</ul>